In [33]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
train_df = pd.read_csv(r'D:\superior\semester_3rd\lab_AI\train.csv')
test_df = pd.read_csv(r"D:\superior\semester_3rd\lab_AI\test.csv")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [5]:
train_df['Familysize']  = train_df['SibSp'] + train_df['Parch'] + 1
test_df['Familysize']  = test_df['SibSp'] + test_df['Parch'] + 1
train_df.groupby(['Familysize'],as_index=False)['Survived'].agg(['count','mean'])

   Familysize  count      mean
0           1    537  0.303538
1           2    161  0.552795
2           3    102  0.578431
3           4     29  0.724138
4           5     15  0.200000
5           6     22  0.136364
6           7     12  0.333333
7           8      6  0.000000
8          11      7  0.000000

In [6]:
train_df['Family_type'] = pd.cut(train_df.Familysize,[0,1,4,7,11],labels = ['solo','small','medium','big'])
test_df['Family_type'] = pd.cut(test_df.Familysize,[0,1,4,7,11],labels = ['solo','small','medium','big'])
train_df.groupby(['Family_type'],as_index=False)['Survived'].agg(['count','mean'])

C:\Users\Junaid\AppData\Local\Temp\ipykernel_13408\2999613682.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  train_df.groupby(['Family_type'],as_index=False)['Survived'].agg(['count','mean'])

  Family_type  count      mean
0        solo    537  0.303538
1       small    292  0.578767
2      medium     49  0.204082
3         big     13  0.000000

In [7]:
train_df['Age'] = train_df.groupby(['Sex','Pclass'])['Age'].transform(lambda x: x.fillna(x.median()))
test_df['Age'] = test_df.groupby(['Sex','Pclass'])['Age'].transform(lambda x: x.fillna(x.median()))

In [8]:
def encoded(train):
    train.loc[train_df['Age'] <= 17, 'Age'] = 0
    train.loc[(train_df['Age'] > 17) & (train_df['Age'] <= 32), 'Age'] = 1
    train.loc[(train_df['Age'] > 32) & (train_df['Age'] <= 48), 'Age'] = 2
    train.loc[(train_df['Age'] > 48) & (train_df['Age'] <= 64), 'Age'] = 3
    train.loc[(train_df['Age'] > 64) & (train_df['Age'] <= 80), 'Age'] = 4

encoded(train_df)

def encoded(test):
    test.loc[test_df['Age'] <= 17, 'Age'] = 0
    test.loc[(test_df['Age'] > 17) & (test_df['Age'] <= 32), 'Age'] = 1
    test.loc[(test_df['Age'] > 32) & (test_df['Age'] <= 48), 'Age'] = 2
    test.loc[(test_df['Age'] > 48) & (test_df['Age'] <= 64), 'Age'] = 3
    test.loc[(test_df['Age'] > 64) & (test_df['Age'] <= 80), 'Age'] = 4

encoded(test_df)

In [9]:
train_df.groupby(['Age'], as_index=False)['Survived'].mean()

   Age  Survived
0  0.0  0.539823
1  1.0  0.333333
2  2.0  0.412844
3  3.0  0.434783
4  4.0  0.090909

In [11]:
def encoded(train):
    train.loc[train_df['Fare'] <= 7, 'Fare'] = 0
    train.loc[(train_df['Fare'] > 7) & (train_df['Fare'] <= 14), 'Fare'] = 1
    train.loc[(train_df['Fare'] > 14) & (train_df['Fare'] <= 42.0), 'Fare'] = 2
    train.loc[(train_df['Fare'] > 42.0) & (train_df['Fare'] <= 512.329), 'Fare'] = 3

encoded(train_df)

def encoded(test):
    test.loc[test_df['Fare'] <= 7, 'Fare'] = 0
    test.loc[(test_df['Fare'] > 7) & (test_df['Fare'] <= 14), 'Fare'] = 1
    test.loc[(test_df['Fare'] > 14) & (test_df['Fare'] <= 42.0), 'Fare'] = 2
    test.loc[(test_df['Fare'] > 42.0) & (test_df['Fare'] <= 512.329), 'Fare'] = 3

encoded(test_df)

In [12]:
train_df.groupby(['Fare'],as_index=False)['Survived'].agg(['count','mean'])

       Fare  count      mean
0    0.0000     28  0.071429
1    1.0000    409  0.266504
2    2.0000    282  0.425532
3    3.0000    169  0.639053
4  512.3292      3  1.000000

In [14]:
train_df['Title'] = train_df['Name'].str.split(pat=',',expand=True)[1].str.split(pat='.',expand=True)[0].apply(lambda x:x.strip())
test_df['Title'] = test_df['Name'].str.split(pat=',',expand=True)[1].str.split(pat='.',expand=True)[0].apply(lambda x:x.strip())

In [15]:
train_df.groupby(['Title'],as_index=False)['Survived'].agg(['count','mean'])

           Title  count      mean
0           Capt      1  0.000000
1            Col      2  0.500000
2            Don      1  0.000000
3             Dr      7  0.428571
4       Jonkheer      1  0.000000
5           Lady      1  1.000000
6          Major      2  0.500000
7         Master     40  0.575000
8           Miss    182  0.697802
9           Mlle      2  1.000000
10           Mme      1  1.000000
11            Mr    517  0.156673
12           Mrs    125  0.792000
13            Ms      1  1.000000
14           Rev      6  0.000000
15           Sir      1  1.000000
16  the Countess      1  1.000000

In [17]:
train_df['Title'] = train_df['Title'].replace(['Col','Capt','Major','Rev','Dr'],'Officers')
train_df['Title'] = train_df['Title'].replace(['Mrs','Mme'],'Mrs')
train_df['Title'] = train_df['Title'].replace(['Miss','Ms','Mlle'],'Miss')
train_df['Title'] = train_df['Title'].replace(['Master'],'Master')
train_df['Title'] = train_df['Title'].replace(['Lady','Don','the Countess','Sir','Jonkheer'],'VIP')
train_df['Title'] = train_df['Title'].replace(['Mr'],'Mr')


test_df['Title'] = test_df['Title'].replace(['Col','Capt','Major','Rev','Dr'],'Officers')
test_df['Title'] = test_df['Title'].replace(['Mrs','Mme'],'Mrs')
test_df['Title'] = test_df['Title'].replace(['Miss','Ms','Mlle'],'Miss')
test_df['Title'] = test_df['Title'].replace(['Master'],'Master')
test_df['Title'] = test_df['Title'].replace(['Lady','Don','the Countess','Sir','Jonkheer'],'VIP')
test_df['Title'] = test_df['Title'].replace(['Mr'],'Mr')

In [18]:
train_df.groupby(['Title'],as_index=False)['Survived'].agg(['count','mean'])

      Title  count      mean
0    Master     40  0.575000
1      Miss    185  0.702703
2        Mr    517  0.156673
3       Mrs    126  0.793651
4  Officers     18  0.277778
5       VIP      5  0.600000

In [20]:
train_df.Embarked = train_df.Embarked.fillna(train_df.Embarked.mode()[0])

test_df.Embarked = test_df.Embarked.fillna(test_df.Embarked.mode()[0])

In [21]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Familysize',
       'Family_type', 'Title'],
      dtype='object')

In [ ]:
train_df.drop(['PassengerId','Name','SibSp','Parch','Cabin','Ticket','Familysize'],inplace = True , axis = 1)

In [23]:
test_df.drop(['PassengerId','Name','SibSp','Parch','Cabin','Ticket','Familysize'],inplace = True , axis = 1)

In [24]:
train_df.head()

   Survived  Pclass     Sex  Age  Fare Embarked Family_type Title
0         0       3    male  1.0   1.0        S       small    Mr
1         1       1  female  2.0   3.0        C       small   Mrs
2         1       3  female  1.0   1.0        S        solo  Miss
3         1       1  female  2.0   3.0        S       small   Mrs
4         0       3    male  2.0   1.0        S        solo    Mr

Encoding

In [27]:
train_df['Title'] = LabelEncoder().fit_transform(train_df['Title'])
train_df['Family_type'] = LabelEncoder().fit_transform(train_df['Family_type'])
train_df['Embarked'] = LabelEncoder().fit_transform(train_df['Embarked'])
train_df['Sex'] = LabelEncoder().fit_transform(train_df['Sex'])


test_df['Title'] = LabelEncoder().fit_transform(test_df['Title'])
test_df['Family_type'] = LabelEncoder().fit_transform(test_df['Family_type'])
test_df['Embarked'] = LabelEncoder().fit_transform(test_df['Embarked'])
test_df['Sex'] = LabelEncoder().fit_transform(test_df['Sex'])

In [28]:
train_df = train_df.loc[:,['Survived','Title','Family_type','Embarked','Sex','Pclass','Age','Fare']]
train_df = train_df.loc[:,['Title','Family_type','Embarked','Sex','Pclass','Age','Fare']]

In [29]:
x = train_df.iloc[:,1:].values
y = train_df.iloc[:,0].values

In [31]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [34]:
svr = RandomForestClassifier(max_depth=10,n_estimators=200)

model = svr.fit(x_train,y_train)
y_pred = model.predict(x_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.57      0.80      0.67         5
           1       0.80      0.89      0.85        37
           2       0.90      0.97      0.94        98
           3       0.85      0.76      0.80        29
           4       0.00      0.00      0.00         8
           5       0.00      0.00      0.00         2

    accuracy                           0.86       179
   macro avg       0.52      0.57      0.54       179
weighted avg       0.81      0.86      0.84       179

c:\Users\Junaid\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Junaid\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Junaid\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))